header{
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}

#logoImg{
    display: block;
    background: url("../images/logo.png") no-repeat;
    background-position: left;
    height: 100%;
    margin-left: 20px;
    width: 140px;
    cursor: pointer;
}